*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.menu{
    display:flex;
    justify-content: space-between;
    height:125px;
    border-bottom:1px solid black;
}
.types{
    display:flex;
}
.types{
    margin:0px 0px;
}
img.logo{
    display:block;
    height: 75px;
    width:100px;
    align-self: center;
}
h5{
    font-style: italic;
    align-self: center;
    font-weight: bold;
    
}
h5:hover{
    text-decoration: none;
}
.menu>.logo>h3{
    text-align: center;
    margin:0px 0px;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
}
.menu> nav {
    flex:3;
    line-height: 5;
    
}
.menu> .find{
    flex:0.7;
    line-height: 8;
}
.types{
    list-style-type: none;
    justify-content: center;

}
.type{
    padding-left:50px;
    padding-right:50px;
}
.type a{
    text-decoration:none;
    display:block;
    padding-left:50px;
    padding-right:50px;
    color:black;
    text-align:center;
    z-index:10;
    font-weight: 1000;
    font-size: x-large  ;
}
.type >a:hover{
    color: rgb(250, 192, 169);
    position:relative;
    font-size: x-large;
    

}
.sub-type {
    text-decoration: none;
    list-style: none;
    display:none;
    z-index: 10;
    position:absolute;
    
}
.type:hover .sub-type{
    display:block;
    background-color: white;
    padding:0;
    margin:0;
}
.sub-type li a{
    padding-right:5px;
    padding-left:5px;
    z-index:10;
}
.sub-type li a:hover{
    color: rgb(250, 192, 169);
}
.search-box{
    position:absolute;
    right:110px;
    top: 43px;
    transform:translate(0,0);
    background: lightgray;
    height:40px;
    border-radius: 40px;
    
}
.search-box:hover .search-txt{
    width:160px;
    padding:0 6px;
}

.search-box:hover .search-btn{
    background:white;
    
}
.search-btn{
    color:black;
    float:right;
    width:40px;
    height:40px;
    border-radius: 40%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.search-txt{
    border:none;
    background:none;
    outline:none;
    float:left;
    padding:0;
    color:white;
    font-size:16px;
    transition: 0.5s;
    line-height: 40px;
    width:0px;
}
.cart-box{
    position:absolute;
    right:60px;
    top: 43px;
    background: lightgray;
    height:40px;
    border-radius: 40px;
    
}
.cart-btn{
    color:black;
    float:right;
    width:40px;
    height:40px;
    border-radius: 40%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.heart-box{
    position:absolute;
    right:10px;
    top: 43px;
    background: lightgray;
    height:40px;
    border-radius: 40px;
    
}
.heart-btn{
    color:black;
    float:right;
    width:40px;
    height:40px;
    border-radius: 40%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logan {
    display:flex;
    justify-content: flex-start;
    background-color: #3c3731;
}
section{
    display:flex;
}
a.product{
    border:2px solid black;
    text-decoration: black;
    border-radius:5px;
    margin:10px;
    color:black;
}
a.product>div>img{
    width:100%;
    height:100%;
}


div.col50{
    float:left;
    width:50%;
}
div.col50 >ul{
    list-style: none;
    padding:0;
}
div.color>img{
    width:40%;
}
div.color >img:hover{
    border:1px solid black;
}

div.showProduct {
    width:50%;
    flex:2;
}
div.showProduct>img {
    width:100%;
    height:95%;
}
.title1{
    flex:1;
}
ul.selectSize{
    list-style-type:none;
    display:flex;
}
ul.selectSize >li{
    margin:5px 5px;
    padding:5px 10px;
    border:1px solid black;
    border-radius: 10px;
    
}
ul.selectSize>li>a{
    text-decoration: none;
    color:black;
    display:block;
}
ul.selectSize>li>a:hover{
    text-decoration: none;
    background-color: lightgray;
    color:black;
    display:block;
}ul.selectSize>li:hover{
    text-decoration: none;
    background-color: lightgray;
    color:black;
    display:block;
}

.buy a {
    border:1px solid black;
    font-weight: bolder;
    display:inline-block;
    padding:10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color:black;
}
.buy a:hover {
    border:1px solid black;
    font-weight: bolder;
    display:inline-block;
    padding:10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color:black;
    background-color:lightgray;
}
h3,h2{
    padding-left:5px;
}
.mediumCircle {
    position:absolute;
    z-index:-1;
    bottom:0;
    right:0;
    opacity:1;
    height:100%;
}


.carousel-item{
    height:32rem;
    background:#777;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }

#goToTop {
    text-decoration: none;
    padding:15px 15px;
    display:block;
    width:150px;
    height:50px;
    position:fixed;
    right: 20px;
    bottom:10px;
    background-color:lightgray;
    align-content: center;
    color:black;
    border:1px solid black;
    border-radius: 5px;
    z-index: 10;
    font-weight: bold;
}
